// Primary
$Desaturated-Red: hsl(0, 36%, 70%);
$Soft-Red: hsl(0, 93%, 68%);

// Neutral
$Dark-Grayish-Red: hsl(0, 6%, 24%);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
    position: relative;

    .header__wrapper {
        position: absolute;

        .header__logo {
            position: absolute;
            top: -21.53rem;
            left: 10.3rem;
        }
    }

    .hero__wrapper {
        padding-inline-start: 10.3rem;
        background-image: url("images/bg-pattern-desktop.svg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .hero___section__left {
            .hero__title {
                text-transform: uppercase;
                padding-top: 14.5rem;
                font-size: 4.2rem;
                font-weight: 600;
                max-width: 300px;
                letter-spacing: 0.9rem;
                line-height: 1.015;
                color: $Dark-Grayish-Red;

                span {
                    font-weight: 300;
                    color: $Desaturated-Red;
                }
            }

            .hero__desciption {
                padding-top: 1.4rem;
                font-size: 1rem;
                letter-spacing: 0.005rem;
                line-height: 1.7;
                max-width: 450px;
                color: $Desaturated-Red;
            }

            .hero__form {
                padding-top: 2.7rem;
                width: 100%;
                display: flex;
                align-items: center;
                position: relative;

                .hero__form__input {
                    padding-block: 1.2rem;
                    padding-inline-start: 2.1rem;
                    border-radius: 30px;
                    width: 85%;
                    border: 1px solid $Desaturated-Red;
                }

                .hero__form__error {
                    position: absolute;
                    bottom: -1.7rem;
                    left: 2.1rem;
                    font-size: 0.9rem;
                    font-weight: 700;
                    color: $Soft-Red;
                }

                .hero__form__error__image {
                    position: absolute;
                    right: 7.5rem;
                    width: 1.3rem;
                }

                ::placeholder {
                    font-size: 1rem;
                    letter-spacing: 0.01rem;
                }

                .hero__form__button {
                    background: linear-gradient(
                        135deg,
                        hsl(0, 36%, 70%) 45%,
                        hsl(0, 93%, 68%)
                    );
                    padding-block: 1rem;
                    padding-inline: 2rem;
                    width: 100px;
                    margin-left: -2.3rem;
                    border-radius: 30px;
                    box-shadow: 0 5px 20px 0 $Desaturated-Red;
                    cursor: pointer;
                }
            }
        }

        .hero___section__right {
            .hero__section__desktop {
                height: auto;
            }
        }
    }

    .attribution {
        font-size: 11px;
        font-family: "Calibri";
        text-align: center;

        a {
            color: hsl(228, 45%, 44%);
            text-decoration: none;
            font-weight: 600;
        }
    }

    @media (max-width: 1280.98px) {
        .header__wrapper {
            .header__logo {
                left: 5rem;
            }
        }

        .hero__wrapper {
            padding-inline-start: 5rem;
        }
    }

    @media (max-width: 1125.98px) {
        .header__wrapper {
            .header__logo {
                left: 4rem;
            }
        }

        .hero__wrapper {
            padding-inline-start: 4rem;

            .hero___section__left {
                .hero__title {
                    font-size: 3.5rem;
                }

                .hero__desciption {
                    font-size: 0.8rem;
                    max-width: 390px;
                }

                .hero__form {
                    .hero__form__input {
                        width: 100%;
                    }
                }
            }

            .hero___section__right {
                .hero__section__desktop {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 1097.98px) {
        .header__wrapper {
            .header__logo {
                top: -37rem;
                left: 5rem;
            }
        }

        .hero__wrapper {
            flex-direction: column;
            padding-inline: 5rem;

            .hero___section__left {
                .hero__title {
                    max-width: 100%;
                    text-align: center;
                    padding-top: 10rem;
                    font-size: 4.2rem;
                }

                .hero__desciption {
                    max-width: 100%;
                    font-size: 1rem;
                    text-align: center;
                }

                .hero__form {
                    .hero__form__input {
                        width: 100%;
                    }
                }
            }

            .hero___section__right {
                .hero__section__desktop {
                    width: 100%;
                    padding-top: 3rem;
                }
            }
        }
    }

    @media (max-width: 885.98px) {
        .hero__wrapper {
            .hero___section__left {
                .hero__title {
                    font-size: 3rem;
                }
            }
        }
    }

    @media (max-width: 768.98px) {
        .header__wrapper {
            .header__logo {
                top: -35rem;
            }
        }

        .hero__wrapper {
            .hero___section__left {
                .hero__title {
                    font-size: 2.7rem;
                }
            }
        }
    }

    @media (max-width: 600.98px) {
        .header__wrapper {
            .header__logo {
                top: -30.5rem;
                left: 3rem;
            }
        }

        .hero__wrapper {
            padding-inline: 3rem;

            .hero___section__left {
                .hero__title {
                    font-size: 2rem;
                }
            }
        }
    }

    @media (max-width: 420.98px) {
        .header__wrapper {
            .header__logo {
                top: -28rem;
            }
        }

        .hero__wrapper {
            padding-inline: 0;

            .hero___section__left {
                .hero__title {
                    font-size: 2rem;
                    padding-top: 9rem;
                    padding-inline: 0.9rem;
                }

                .hero__desciption {
                    font-size: 0.9rem;
                    padding-inline: 2rem;
                }

                .hero__form {
                    padding-top: 1rem;
                    padding-inline: 2rem;

                    .hero__form__input {
                        padding-block: 1rem;
                        padding-inline-start: 1.8rem;
                        width: 100%;
                    }

                    .hero__form__error {
                        position: absolute;
                        bottom: -1rem;
                        left: 3.6rem;
                        font-size: 0.75rem;
                        color: $Soft-Red;
                    }

                    .hero__form__error__image {
                        right: 8.5rem;
                        width: 1rem;
                    }

                    ::placeholder {
                        font-size: 0.7rem;
                    }

                    .hero__form__button {
                        padding-inline: 1.8rem;
                    }
                }
            }
        }
    }

    @media (max-width: 375.98px) {
        .header__wrapper {
            .header__logo {
                top: -23rem;
                width: 9rem;
            }
        }

        .hero__wrapper {
            flex-direction: column-reverse;
            padding-inline: 0;

            .hero___section__left {
                .hero__title {
                    padding-top: 3rem;
                }
            }

            .hero___section__right {
                .hero__section__desktop {
                    padding-top: 9.7rem;
                }
            }
        }

        .attribution {
            padding-top: 7rem;
        }
    }
}
